@import 'styles/ui/buttons.scss';

.counters-example {
  .heading-title {
    font-size: 15px;
    color: var(--app-greyscale-color-500);
  }

  .loader-container {
    padding-top: 50px;
  }

  .example-items {
    list-style: none;
    margin: 0;
    flex-wrap: nowrap;
    display: flex;
    width: auto;
    overflow-x: scroll;
    position: relative;
    padding: 10px 0;
    max-width: 100%;
    .example-item {
      display: block;
      flex: 2 0 auto;
      &:not(first-child) {
        margin-right: 15px;
      }
    }
  }
  .example-button {
    @include chip-button;
    display: block;
    text-align: center;
  }
}
