@import 'styles/utils.scss';

.footer-actions {
  @include for-size(tablet-portrait-up) {
    border-top : 2px solid rgba(black, .1);
  }
  background-color: var(--app-greyscale-color-100);
  bottom: 0;
  height: 75px;
  left: 0;
  padding: 0 16px;
  position: fixed;
  width: 100%;
  z-index: 3;
  &:before {
    @include pseudomask;
    width: 100%;
    height: 40px;
    opacity: .9;
    top: -42px;
    z-index: 2;
    @include scrimGradient(white, 'to top');
  }
  &__inner {
    border-top : 2px solid rgba(black, .2);
    @include for-size(tablet-portrait-up) {
      border-top: none;
    }
    display: flex;
    flex-wrap: wrap;
    padding: 16px 0;
  }
}
