.large-title {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  color: var(--app-greyscale-color-800);
  margin: 20px 0;
  &.-to-left {
    text-align: left
  }
  &.-to-right {
    text-align: right;
  }
}

.secondary-text {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 23px;
  text-align: center;
  color: var(--app-greyscale-color-600);
  margin: 0 0 20px 0;
  &.-to-left {
    text-align: left
  }
  &.-to-right {
    text-align: right;
  }
}

.normal-text {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.02em;
  color: var(  --app-greyscale-color-700);
  &.-to-left {
    text-align: left
  }
  &.-to-right {
    text-align: right;
  }
}
