@import 'styles/utils.scss';
@import 'styles/ui/buttons.scss';

.counters-home-page {
  width: 100%;
  &__inner {
    height: 100vh;
    overflow: hidden;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 16px 0;
    padding-bottom: 75px;
    .search-container{
      width: 100%;
    }
    .list-container {
      width: 100%;
      padding: 25px 0;
      &.-auto-align {
        margin: auto;
      }
      .feedback-block {
        text-align: center;
        padding: 0 20px;
        @include for-size(tablet-portrait-up) {
          padding:0 70px;
        }
        .feedback-text {
          font-style: normal;
          font-weight: 500;
          font-size: 22px;
          line-height: 30px;
          margin: 0;
          text-align: center;
          letter-spacing: 0.02em;
          color: var(--app-greyscale-color-500)
        }
        button {
          margin: 0 auto;
        }
      }

      .counter-items {
        overflow-y: scroll;
        max-height: calc(100vh - 190px);
      }
    }
  }
}

.counters-home-page-wrapper {
  .footer-actions {
    .to-right,
    .to-left {
      display: flex;
      margin: auto;
      button {
        &:not(:last-child) {
          margin-right: 15px;
        }
      }
      a {
        height: 44px;
      }
    }
    .to-right {
      margin-right: 0;
    }
    .to-left {
      margin-left: 0;
    }
  }
}
