$font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

$app-tint-color: #FF9500;
$app-destructive-color: #ff404c;

$app-greyscale-color-100: #fff;
$app-greyscale-color-200: #FBFBFB;
$app-greyscale-color-300: #e0e0e0;
$app-greyscale-color-400: #dcdcdf;
$app-greyscale-color-500: #888b90;
$app-greyscale-color-600: #4A4A4A;
$app-greyscale-color-700: #212121;
$app-greyscale-color-800: #000;

$app-view-padding-horizontal-mobile: 10px;
$app-view-padding-vertical-mobile: 20px;

$app-view-padding-horizontal-tablet: 20px;
$app-view-padding-vertical-tablet: 20px;

$app-view-padding-horizontal-desktop: 50px;
$app-view-padding-vertical-desktop: 30px;

$app-max-width: 570px;
$app-text-color: $app-greyscale-color-700;
